body{
    background-color: rgb(199, 199, 199);
}
header{
    width: 96%;
    padding: 2% ;
    background-color: rgb(63, 63, 63);
    color:rgb(255, 255, 149);
    
}
footer{
    position: absolute;
    bottom: 0;
    width: 96%;
    padding: 2% ;
    background-color: rgb(63, 63, 63);
}

a:link {
    color:rgb(255, 255, 149);
    text-decoration: none;
  }
  
  a:visited {
    color:rgb(255, 255, 149);
    text-decoration: none;
  }
#formulaire
{
    width: 94%;
    padding:3%;
    
  
}